{%extends 'base.html'%}


{%block content%}
{{company_name}}

    {%for article in articles%}
    <div class="blog-entry">
        <a href="/{{article.category.id}}/{{article.id}}/">
            <h3>{{article.name}}</h3>
        </a>
        <div>
            <p class="lead"><i class="fa fa-user"></i> 
            by <a href="">{{article.author}}</a>
        </div>
        <p>{{article.text|truncatewords:10}}</p>
        <div class="text-left align-bottom">
            <a href="/{{article.category.id}}">
                <span class="badge badge-success text-right">{{article.category}}</span>
            </a>
        </div>
    </div> 
    {%endfor%}
{%endblock%}